n8n/CINQ n8n workshop.json
{
  "name": "CINQ n8n workshop",
  "nodes": [
    {
      "parameters": {
        "content": "# 🎯 30-Minute Workshop Flow\n\n## Timing:\n- **0-5 min**: Introduction & Demo\n- **5-15 min**: Explanation of each node\n- **15-25 min**: Hands-on (modify RSS feed)\n- **25-30 min**: Q&A & Tips\n\n## Workshop Steps:\n1. Start with Manual Trigger\n2. RSS Feed reads news\n3. AI summarizes\n4. Output to Slack/Email",
        "height": 430,
        "width": 400
      },
      "id": "b912a0c2-637d-4553-9bd6-173c4142854c",
      "name": "Workshop Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1640,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "19086510-bb69-4891-a73e-d967c84c2cc4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1180,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "a8d83a08-f134-4374-8a57-5e499bf16f8f",
      "name": "Tech News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -980,
        320
      ],
      "typeVersion": 1.1,
      "notesInFlow": false
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "d8053a95-17cd-4e55-98f4-5b7a7f3f25a5",
      "name": "Top 5 Articles",
      "type": "n8n-nodes-base.limit",
      "position": [
        -780,
        320
      ],
      "typeVersion": 1,
      "notesInFlow": "Limited to 5 articles for fast processing"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "45277c59-8f4a-4003-9194-393951d9c9d7",
      "name": "Combine Articles",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -580,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a tech news expert who creates beautiful markdown summaries for developers. Use only the structure I give below. Do NOT add a title like “Today in Tech” or “Tech Digest”.\n\nHere is the list of articles:\n{{ $json.data.map((item, index) => `${index + 1}. **${item.title}**\\n${item.contentSnippet || item.description}\\nURL: ${item.link}\\n`).join('\\n') }}\n\nCreate a structured markdown summary ONLY using this format:\n\n### 🎯 Top 3 Main Topics\nFor each main topic provide:\n- A clear **title** with emoji\n- A brief explanation (max 2 sentences)\n- Include actual article link(s) as markdown links: [Article Title](URL)\n\n### 💡 Key Insights\nMention 2-3 important trends or developments you see.\nInclude links to relevant articles.\n\n### 🚀 Tech Tip of the Day\nProvide a practical tip based on the news.\n\n### 📌 One-liners\nGive 3 short bullet points with other interesting news.\nInclude links where relevant.\n\n❗IMPORTANT:\n- Do NOT add any other sections\n- Do NOT include generic headers like \"Today in Tech\"\n- Always use the article URLs I give you\n- Format the summary in Markdown only\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -380,
        320
      ],
      "id": "87fc1c14-5dde-4586-81a8-9b080b73bcc2",
      "name": "AI Summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary-field",
              "name": "daily_summary",
              "type": "string",
              "value": "=# 🚀 CINQ Tech News Digest\n\n## 📅 {{ $now.toFormat('dddd, d MMMM yyyy') }}\n*Last update: {{ $now.toFormat('HH:mm') }}*\n\n---\n\n## 📰 Today in Tech\n\n{{ $json.text }}\n\n---\n\n## 📊 Statistics\n- **Articles analyzed:** 5\n- **Sources:** The Hacker News\n- **AI Model:** Ollama Gemma3n\n- **Processed on:** {{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}\n\n---\n\n### 🔗 Links\n- [The Hacker News](https://thehackernews.com)\n- [CINQ-ICT](https://www.cinqict.nl/)\n- [n8n Workflows](https://n8n.io)\n\n---\n\n*🤖 Automatically generated by CINQ n8n Workshop*  \n*💡 Want to add your own RSS feeds? Check the workshop documentation!*"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca0c8951-2b83-4844-a376-91e8d6db5804",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [
        -20,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## 🎉 Output Options\n\nChoose one of these outputs:\n1. **Email**: Send to yourself\n2. **Slack**: Post in channel\n3. **Webhook**: To your own app\n4. **File**: Save as Markdown\n\nFor the workshop we use the Response node to see the result directly!",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "78241572-4c39-4406-8c9c-e6d97784cc3c",
      "name": "Output Options",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "daily_summary",
        "options": {}
      },
      "id": "5a46df4f-0a34-44c2-a77f-b993d2ae193b",
      "name": "Convert to Markdown",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        180,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/home/node/files/news-summary-' + $now.toFormat('yyyy-MM-dd_HH-mm-ss') + '.md' }}",
        "options": {}
      },
      "id": "deaeb2c4-c994-41d4-96c8-30e61d2ec5f4",
      "name": "Save as Markdown",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        420,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 Hands-on Assignments\n\n**Assignment 1 (5 min):**\nChange the RSS feed to:\n- https://techcrunch.com/feed/\n- https://www.bright.nl/feed/news.xml?tag=AI\n- Or your own favorite tech blog!\n\n**Assignment 2 (5 min):**\nCustomize the AI prompt:\n- Ask for a summary in another language\n- Focus on security news\n- Make it more formal/informal\n\n**Assignment 3 (5 min):**\nAdd a filter:\n- Only today's articles\n- Only with certain keywords\n- Sort by relevance",
        "height": 460,
        "width": 350,
        "color": 6
      },
      "id": "2ca6fc04-1560-418c-9aca-fe273cc85e63",
      "name": "Hands-on Tasks",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1180,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚡ Quick Tips\n\n1. **Test quickly**: Use Manual Trigger\n2. **Debug**: Click on nodes for output\n3. **AI Costs**: GPT-3.5 is cheaper\n4. **Error handling**: Add try-catch\n5. **Scheduling**: Upgrade to cron\n6. **Ollama Chat Model**: http://host.docker.internal:11434\n\n## 🔗 Useful Links\n- n8n Docs: docs.n8n.io\n- n8n workflow templates: https://n8n.io/workflows/\n- RSS Feeds: github.com/plenaryapp/awesome-rss-feeds\n- Workshop Repo: [your-github-link]",
        "height": 410,
        "width": 350,
        "color": 7
      },
      "id": "65913153-5ef0-4eaf-a131-82204b6f0a52",
      "name": "Tips & Links",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gemma3n:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -80,
        600
      ],
      "id": "dfa87123-4fac-4a10-9286-5ee36d3b756c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "hxMJ78n7Gs1mYFdQ",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Tech News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech News RSS": {
      "main": [
        [
          {
            "node": "Top 5 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 Articles": {
      "main": [
        [
          {
            "node": "Combine Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Articles": {
      "main": [
        [
          {
            "node": "AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Convert to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown": {
      "main": [
        [
          {
            "node": "Save as Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7b6b39d-9b34-43f3-a4a1-0a5f2c8a29e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9179a8646509d9894e54c2e8517a8162bd1ca59c511b50cc35ad515ab12dff75"
  },
  "id": "vkq4BtTEGYwee43x",
  "tags": [
    {
      "name": "30-minutes",
      "id": "BE2AhXsOCqUhqJty",
      "createdAt": "2025-07-20T12:05:15.082Z",
      "updatedAt": "2025-07-20T12:05:15.082Z"
    },
    {
      "name": "workshop",
      "id": "Fpm026ubddYiIUPL",
      "createdAt": "2025-07-20T12:05:15.080Z",
      "updatedAt": "2025-07-20T12:05:15.080Z"
    }
  ]
}