n8n/CINQ Workshop.json
{
  "name": "CINQ n8n Workshop",
  "nodes": [
    {
      "parameters": {
        "content": "# 🎯 30-Minute Workshop Flow\n\n## Timing:\n- **0-5 min**: Introductie & Demo\n- **5-15 min**: Uitleg van elke node\n- **15-25 min**: Hands-on (wijzig RSS feed)\n- **25-30 min**: Q&A & Tips\n\n## Workshop Stappen:\n1. Start met Manual Trigger\n2. RSS Feed leest nieuws\n3. AI vat samen in Nederlands\n4. Output naar Slack/Email",
        "height": 430,
        "width": 400
      },
      "id": "7d298ef8-875c-4069-bb26-c82c23399d17",
      "name": "Workshop Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1640,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f6c4825a-b467-4cd9-bdc2-8a27e1694c5e",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1180,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "5fa4e83f-c34b-4f7f-9e53-0d8d985043c0",
      "name": "Tech News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -980,
        320
      ],
      "typeVersion": 1.1,
      "notesInFlow": "Deelnemers kunnen deze URL wijzigen naar hun favoriete tech blog"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "b8b1ec7d-a058-48c0-a3b0-a4464520b72f",
      "name": "Top 5 Artikelen",
      "type": "n8n-nodes-base.limit",
      "position": [
        -780,
        320
      ],
      "typeVersion": 1,
      "notesInFlow": "Beperkt tot 5 artikelen voor snelle verwerking"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "94cbc7ce-4642-4a84-a51b-4a7e27546422",
      "name": "Combineer Artikelen",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -580,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Je bent een tech nieuws expert die prachtige markdown samenvattingen maakt. Analyseer deze 5 nieuwsartikelen:\n\n{{ $json.data.map((item, index) => `${index + 1}. **${item.title}**\\n${item.contentSnippet || item.description}\\n`).join('\\n') }}\n\nMaak een gestructureerde Nederlandse samenvatting in markdown format:\n\n### 🎯 Top 3 Hoofdonderwerpen\n\nGeef voor elk hoofdonderwerp:\n- Een duidelijke **titel** met emoji\n- Een korte uitleg (max 2 zinnen)\n- Relevante artikel referentie(s)\n\n### 💡 Belangrijkste Inzichten\n\nNoem 2-3 belangrijke trends of ontwikkelingen die je ziet.\n\n### 🚀 Tech Tip van de Dag\n\nGeef een praktische tip gebaseerd op het nieuws.\n\n### 📌 One-liners\n\nGeef 3 korte bullet points met andere interessante nieuwtjes.\n\nGebruik markdown formatting zoals **bold**, *italic*, `code`, en > quotes waar relevant. Schrijf in het Nederlands en houd het beknopt maar informatief.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -380,
        320
      ],
      "id": "0a0a14da-a1e0-460d-a68a-d09f567e3c98",
      "name": "AI Samenvatting"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary-field",
              "name": "daily_summary",
              "type": "string",
              "value": "=# 🚀 CINQ Tech Nieuws Digest\n\n## 📅 {{ $now.toFormat('dddd, d MMMM yyyy') }}\n*Laatste update: {{ $now.toFormat('HH:mm') }} uur*\n\n---\n\n## 📰 Vandaag in Tech\n\n{{ $json.text }}\n\n---\n\n## 📊 Statistieken\n- **Artikelen geanalyseerd:** 5\n- **Bronnen:** The Hacker News\n- **AI Model:** Ollama Gemma3n\n- **Verwerkt op:** {{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}\n\n---\n\n### 🔗 Links\n- [The Hacker News](https://thehackernews.com)\n- [CINQ-ICT](https://www.cinqict.nl/)\n- [n8n Workflows](https://n8n.io)\n\n---\n\n*🤖 Automatisch gegenereerd door CINQ n8n Workshop*  \n*💡 Wil je je eigen RSS feeds toevoegen? Check de workshop documentatie!*"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba47e9fe-c772-41bf-bac5-87e763df9372",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [
        -20,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## 🎉 Output Opties\n\nKies één van deze outputs:\n1. **Email**: Stuur naar jezelf\n2. **Slack**: Post in channel\n3. **Webhook**: Naar eigen app\n4. **File**: Sla op als Markdown\n\nVoor de workshop gebruiken we de Response node om het resultaat direct te zien!",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "c9249e9e-2e78-4234-8dad-c272387981bf",
      "name": "Output Opties",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "daily_summary",
        "options": {}
      },
      "id": "a2d646e1-4c92-42c5-bbfd-05634389c3b5",
      "name": "Convert to Markdown",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        180,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/home/node/files/news-summary-' + $now.toFormat('yyyy-MM-dd_HH-mm-ss') + '.md' }}",
        "options": {}
      },
      "id": "abf42050-52f2-401f-b937-fbe16f8b0318",
      "name": "Save as Markdown",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        420,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 Hands-on Opdrachten\n\n**Opdracht 1 (5 min):**\nWijzig de RSS feed naar:\n- https://www.nu.nl/rss/Tech\n- https://tweakers.net/feeds/nieuws.xml\n- Of je eigen favoriete tech blog!\n\n**Opdracht 2 (5 min):**\nPas de AI prompt aan:\n- Vraag om een Engels summary\n- Focus op security nieuws\n- Maak het formeler/informeler\n\n**Opdracht 3 (5 min):**\nVoeg een filter toe:\n- Alleen artikelen van vandaag\n- Alleen met bepaalde keywords\n- Sorteer op relevantie",
        "height": 460,
        "width": 350,
        "color": 6
      },
      "id": "d04f5ba3-8311-4f3a-86f0-0105d70ce736",
      "name": "Hands-on Taken",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1180,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚡ Quick Tips\n\n1. **Test snel**: Gebruik Manual Trigger\n2. **Debug**: Klik op nodes voor output\n3. **AI Kosten**: GPT-3.5 is goedkoper\n4. **Foutafhandeling**: Voeg try-catch toe\n5. **Scheduling**: Upgrade naar cron\n6. **Ollama Chat Model**: http://host.docker.internal:11434\n\n## 🔗 Nuttige Links\n- n8n Docs: docs.n8n.io\n- RSS Feeds: github.com/plenaryapp/awesome-rss-feeds\n- Workshop Repo: [jouw-github-link]",
        "height": 410,
        "width": 350,
        "color": 7
      },
      "id": "1afd5d95-542f-4b52-81c4-c6bd2e706f23",
      "name": "Tips & Links",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gemma3n:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -80,
        600
      ],
      "id": "42f8cc49-17f6-4363-83f2-128f545b09c6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "l4Z0Tbur9R5CdxEh",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Tech News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech News RSS": {
      "main": [
        [
          {
            "node": "Top 5 Artikelen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 Artikelen": {
      "main": [
        [
          {
            "node": "Combineer Artikelen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combineer Artikelen": {
      "main": [
        [
          {
            "node": "AI Samenvatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Samenvatting": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Convert to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown": {
      "main": [
        [
          {
            "node": "Save as Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Samenvatting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b76f4b2-979e-4920-a5b4-47316649dede",
  "meta": {
    "instanceId": "39c9413ece1adda0cefabd302ba6bf5aaa01d1aa6598a9bbdb7282693369fc48"
  },
  "id": "3HaNqu2yZKaS2VfL",
  "tags": [
    {
      "name": "workshop",
      "id": "HicNLWK89oM4izMA",
      "createdAt": "2025-07-09T14:35:14.399Z",
      "updatedAt": "2025-07-09T14:35:14.399Z"
    },
    {
      "name": "30-minutes",
      "id": "KYT5RhsWu3uon7fr",
      "createdAt": "2025-07-09T14:35:14.395Z",
      "updatedAt": "2025-07-09T14:35:14.395Z"
    }
  ]
}