n8n/CINQ Workshop.json
{
  "name": "CINQ n8n Workshop",
  "nodes": [
    {
      "parameters": {
        "content": "# 🎯 30-Minute Workshop Flow\n\n## Timing:\n- **0-5 min**: Introduction & Demo\n- **5-15 min**: Explanation of each node\n- **15-25 min**: Hands-on (modify RSS feed)\n- **25-30 min**: Q&A & Tips\n\n## Workshop Steps:\n1. Start with Manual Trigger\n2. RSS Feed reads news\n3. AI summarizes\n4. Output to Slack/Email",
        "height": 430,
        "width": 400
      },
      "id": "7d298ef8-875c-4069-bb26-c82c23399d17",
      "name": "Workshop Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1640,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f6c4825a-b467-4cd9-bdc2-8a27e1694c5e",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1180,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "5fa4e83f-c34b-4f7f-9e53-0d8d985043c0",
      "name": "Tech News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -980,
        320
      ],
      "typeVersion": 1.1,
      "notesInFlow": "Participants can change this URL to their favorite tech blog"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "b8b1ec7d-a058-48c0-a3b0-a4464520b72f",
      "name": "Top 5 Articles",
      "type": "n8n-nodes-base.limit",
      "position": [
        -780,
        320
      ],
      "typeVersion": 1,
      "notesInFlow": "Limited to 5 articles for fast processing"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "94cbc7ce-4642-4a84-a51b-4a7e27546422",
      "name": "Combine Articles",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -580,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a tech news expert who creates beautiful markdown summaries. Analyze these 5 news articles:\n\n{{ $json.data.map((item, index) => `${index + 1}. **${item.title}**\\n${item.contentSnippet || item.description}\\nURL: ${item.link}\\n`).join('\\n') }}\n\nCreate a structured summary in markdown format:\n\n### 🎯 Top 3 Main Topics\n\nFor each main topic provide:\n- A clear **title** with emoji\n- A brief explanation (max 2 sentences)\n- Include the actual article link(s) as markdown links: [Article Title](URL)\n\n### 💡 Key Insights\n\nMention 2-3 important trends or developments you see.\nInclude links to relevant articles.\n\n### 🚀 Tech Tip of the Day\n\nProvide a practical tip based on the news.\n\n### 📌 One-liners\n\nGive 3 short bullet points with other interesting news.\nInclude links where relevant.\n\nIMPORTANT: Always include actual article URLs as clickable markdown links throughout your summary. Use format: [Title](URL)\n\nUse markdown formatting like **bold**, *italic*, `code`, and > quotes where relevant. Keep it concise but informative.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -380,
        320
      ],
      "id": "0a0a14da-a1e0-460d-a68a-d09f567e3c98",
      "name": "AI Summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary-field",
              "name": "daily_summary",
              "type": "string",
              "value": "=# 🚀 CINQ Tech News Digest\n\n## 📅 {{ $now.toFormat('dddd, d MMMM yyyy') }}\n*Last update: {{ $now.toFormat('HH:mm') }}*\n\n---\n\n## 📰 Today in Tech\n\n{{ $json.text }}\n\n---\n\n## 📊 Statistics\n- **Articles analyzed:** 5\n- **Sources:** The Hacker News\n- **AI Model:** Ollama Gemma3n\n- **Processed on:** {{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}\n\n---\n\n### 🔗 Links\n- [The Hacker News](https://thehackernews.com)\n- [CINQ-ICT](https://www.cinqict.nl/)\n- [n8n Workflows](https://n8n.io)\n\n---\n\n*🤖 Automatically generated by CINQ n8n Workshop*  \n*💡 Want to add your own RSS feeds? Check the workshop documentation!*"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba47e9fe-c772-41bf-bac5-87e763df9372",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [
        -20,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## 🎉 Output Options\n\nChoose one of these outputs:\n1. **Email**: Send to yourself\n2. **Slack**: Post in channel\n3. **Webhook**: To your own app\n4. **File**: Save as Markdown\n\nFor the workshop we use the Response node to see the result directly!",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "c9249e9e-2e78-4234-8dad-c272387981bf",
      "name": "Output Options",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "daily_summary",
        "options": {}
      },
      "id": "a2d646e1-4c92-42c5-bbfd-05634389c3b5",
      "name": "Convert to Markdown",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        180,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/home/node/files/news-summary-' + $now.toFormat('yyyy-MM-dd_HH-mm-ss') + '.md' }}",
        "options": {}
      },
      "id": "abf42050-52f2-401f-b937-fbe16f8b0318",
      "name": "Save as Markdown",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        420,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 Hands-on Assignments\n\n**Assignment 1 (5 min):**\nChange the RSS feed to:\n- https://techcrunch.com/feed/\n- https://feeds.arstechnica.com/arstechnica/index\n- Or your own favorite tech blog!\n\n**Assignment 2 (5 min):**\nCustomize the AI prompt:\n- Ask for a summary in another language\n- Focus on security news\n- Make it more formal/informal\n\n**Assignment 3 (5 min):**\nAdd a filter:\n- Only today's articles\n- Only with certain keywords\n- Sort by relevance",
        "height": 460,
        "width": 350,
        "color": 6
      },
      "id": "d04f5ba3-8311-4f3a-86f0-0105d70ce736",
      "name": "Hands-on Tasks",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1180,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚡ Quick Tips\n\n1. **Test quickly**: Use Manual Trigger\n2. **Debug**: Click on nodes for output\n3. **AI Costs**: GPT-3.5 is cheaper\n4. **Error handling**: Add try-catch\n5. **Scheduling**: Upgrade to cron\n6. **Ollama Chat Model**: http://host.docker.internal:11434\n\n## 🔗 Useful Links\n- n8n Docs: docs.n8n.io\n- RSS Feeds: github.com/plenaryapp/awesome-rss-feeds\n- Workshop Repo: [your-github-link]",
        "height": 410,
        "width": 350,
        "color": 7
      },
      "id": "1afd5d95-542f-4b52-81c4-c6bd2e706f23",
      "name": "Tips & Links",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gemma3n:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -80,
        600
      ],
      "id": "42f8cc49-17f6-4363-83f2-128f545b09c6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "l4Z0Tbur9R5CdxEh",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Tech News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech News RSS": {
      "main": [
        [
          {
            "node": "Top 5 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 Articles": {
      "main": [
        [
          {
            "node": "Combine Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Articles": {
      "main": [
        [
          {
            "node": "AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Convert to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown": {
      "main": [
        [
          {
            "node": "Save as Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b76f4b2-979e-4920-a5b4-47316649dede",
  "meta": {
    "instanceId": "39c9413ece1adda0cefabd302ba6bf5aaa01d1aa6598a9bbdb7282693369fc48"
  },
  "id": "3HaNqu2yZKaS2VfL",
  "tags": [
    {
      "name": "workshop",
      "id": "HicNLWK89oM4izMA",
      "createdAt": "2025-07-09T14:35:14.399Z",
      "updatedAt": "2025-07-09T14:35:14.399Z"
    },
    {
      "name": "30-minutes",
      "id": "KYT5RhsWu3uon7fr",
      "createdAt": "2025-07-09T14:35:14.395Z",
      "updatedAt": "2025-07-09T14:35:14.395Z"
    }
  ]
}